/**************************Copyright 2006 www.sothink.com********************/

.area-info {border-top-width: 1px;border-bottom-width: 1px;border-top-style: dotted;border-bottom-style: dotted;border-top-color: #000000;border-bottom-color: #000000;text-align:center;padding-top:5px;padding-bottom:5px; margin-top:10px;margin-bottom:10px;height: 45px;}
.button {background-image: url(/images/system/bg_button.gif);background-repeat: no-repeat;height: 44px;width: 155px;float: left;text-align: left;padding-left: 25px;padding-top:5px;list-style-type: none;margin-left: 20px !important; margin-left:13px;}
.contentstyle1 {padding: 10px;}

/*********************************begin top*********************************/
#top-key {
	line-height: 20px;
	background-image: url(/images/system/bg_topkey.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 20px;
	width: 775px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}
#top-order {background-image: url(/images/system/top_order.gif);height: 73px;width: 772px;}

#top-logo {background-image: url(/images/system/bg_toplogo.gif);background-repeat: no-repeat;height: 52px;width: 775px;}
#top-logo #top-logomenu1 {margin-right:10px;line-height:30px;height:30px;text-align:right;font-size:12px;font-weight:bold;color:#0067af;}
#top-logo #top-logomenu2 {margin-right:10px;line-height:22px;height:22px;text-align:right;font-size:12px;font-weight:bold;color:#000000;}

#top-menu {line-height: 31px;background-image: url(/images/system/bg_topmenu.gif);background-repeat: repeat-x;height: 31px;width: 775px;}
#top-menu #top-dmenu {width: 610px;float: left;height: 31px;line-height: 31px;color: #FFFFFF; text-align:left;}
#top-menu #top-menu2 {color: #FFFFFF;width: 165px;float: left;height: 20px; margin-top:5px;}
#top-menu #top-menu2 #search {line-height: 20px;height: 20px;}
#top-menu #top-menu2 #search #searchTextDiv {background-image:url(/images/system/bg_formtext.gif);width:123px;height:20px;float: left;}
#top-menu #top-menu2 #q {height: 15px;width: 115px;border:0px;margin-top:3px}
/**********************************end top***********************************/

/******************************begin bottom*********************************/
#bottom-menu {color: #FFFFFF;background-color: #000000;height: 25px;width: 775px;line-height: 25px; clear:both;}
#bottom-key {color: #FFFFFF;background-image: url(/images/system/bg_bottomkey.gif);height:60px; width:775px; line-height:60px;}
#bottom-key #key-text{
	width:745px;
	text-align:center;
	padding-top:10px;
	color: #FFFFFF;
}
#bottom-menu a {text-decoration: none;color: #ffffff; font-size:10px;}
#bottom-menu a:hover {text-decoration: underline;color: #ffffff; font-size:10px;}
/******************************end bottom*********************************/

/******************************begin indexpage*********************************/
#box-all {width: 775px;}
#site-ad {height: auto;width: 775px; }

#content-box {height: auto;width: 773px !important; width: 775px; width:/*IE6*/773px;border-right-width: 1px;border-left-width: 1px;border-right-style: solid;border-left-style: solid;border-right-color: #BCC8D8;border-left-color: #BCC8D8;background-image: url(/images/system/bg_productleft.gif);background-repeat: repeat-y;background-position: left;background-color: #FFFFFF; float:left;}

#content-box #title-product {background-image: url(/images/system/bg_title.gif);background-repeat: repeat-x;height: 24px;line-height:24px; width:513px !important; width: 533px; width:/*IE6*/513px; padding-left:20px; float: left;text-align: left;font-size: 12px;font-weight: bold;}
#content-box #title-info {background-image: url(/images/system/bg_title.gif);background-repeat: repeat-x;height: 24px;line-height:24px;width: 219px !important; width: 240px; width:/*IE6*/219px; padding-left:20px;float: left;text-align: left;font-size: 12px;font-weight: bold;border-left-width: 1px;border-left-style: solid;border-left-color: #b9cbd9;}

#content-box #product {
	background-image: url(/images/system/bg_producttext.gif);
	background-repeat: no-repeat;
	background-position: left top;
	width:533px;
	float: left;
}

#product #main-soft {padding-top: 5px;padding-right: 30px;padding-bottom: 5px;padding-left: 60px; text-align:left;}
#product #main-soft dt {text-align: right;border-top-width: 1px;border-top-style: dotted;border-top-color: #000000;padding-top: 5px; margin-top:5px;}
#product #main-soft span {float: left;font-size: 12px;font-weight: bold; border-bottom:#000000 dotted 0px;}
#product #main-soft #firstsoft {border-top-style: none;}
#product #dvd-soft {float: left;height: 134px !important;height:144px;height:/*IE6*/134px;width: 229px!important; width:274px;width:/*IE6*/229px;background-image: url(/images/system/bg_DVD.gif);background-repeat: no-repeat;background-position: left top;padding-top: 10px;text-align: left;padding-left: 20px;padding-right: 25px;}
#product #dvd-soft dt {font-size: 12px;font-weight: bold;padding-top: 5px;padding-bottom: 5px;}
#product #dvd-soft dd {width: 200px;}
#product #flashtemplates-soft {float: left;height: 134px !important;height:144px;height:/*IE6*/ 134px;width: 214px !important;width:259px;width:/*IE6*/ 214px;background-image: url(/images/system/bg_flashtemplate.jpg);background-repeat: no-repeat;background-position: left top;padding-top: 10px;text-align: left;padding-left: 20px;padding-right: 25px;}
#product #flashtemplates-soft dt {font-size: 12px;font-weight: bold;padding-top: 5px;padding-bottom: 5px;}
#product #flashtemplates-soft dd {width: 190px;}

#content-box #right-info {
	width: 240px;
	float: left;
}
#right-info #product-news {
	height:auto;
}
#right-info ul {padding-top: 10px;padding-bottom: 10px;}
#right-info li {text-align: left;padding-right: 5px; list-style-type: none;padding-top: 5px; padding-bottom:5px;}
#right-info #maillist li {float: left;}
/******************************end indexpage*********************************/

/******************************begin productpage*********************************/
#page-contentbox {width: 775px;}
#product-ad {height: 96px;width: 775px; background-image: url(/images/system/banner_product.jpg);}
#product-googlead {height: 96px;width: 775px;}
#product-ad #ad-text {width: 775px;height: 86px; clear:both;}
#product-ad #ad-text #area1 a{
	width: 178px;
	height: 86px;
	padding-top:0px;
	float:left;
	color:#0000FF;
	font-size:12px;
	font-weight:bold;
}
#product-ad #ad-text #area2 {width: 597px;height: 96px; float:left;}

#product-box {width: 775px;height: auto;background-image: url(/images/system/bg-productcontent.gif);background-repeat: repeat-y;float: left;}

#product-box #left-menu {height: auto;width: 179px;float: left;}
#left-menu #menu-title {line-height: 24px;background-image: url(/images/system/bg_title.gif);height: 24px;font-size: 12px;font-weight: bold;border-right-width: 1px;border-left-width: 1px;border-right-style: solid;border-left-style: solid;border-right-color: #BCC8D8;border-left-color: #BCC8D8;}
#left-menu #treemenu {margin-left: 1px; text-align:left;}
#left-menu #newsletter {
	clear: both;
	padding-top:5px;
	text-align:center;
}

#main-content #right {width: 153px;float: left;}
#right #right-info {background-image: url(/images/system/line-product1.gif);background-repeat: repeat-y;}
#right-info #showbox {text-align: center;padding-top: 30px;padding-bottom: 30px;}

#right-info #soft-info {padding-left:15px; padding-right:15px; padding-bottom:15px;}
#right #right-info #soft-info dt {border-top-width: 1px;border-top-style: dotted;border-top-color: #000000;padding-top: 5px; font-size:12px; font-weight:bold;}
#right #right-info #soft-info dd {font-size:12px;}
#right #right-info #soft-info #first {border-top-style: none;}

#right #right-end {background-image: url(/images/system/line-product.gif);background-repeat: no-repeat;background-position: left bottom;height:126px;}

#product-box #main-content {text-align: left;width: 596px;float: left;height: auto;}
#product-box #main-content2 {text-align: left;width: 775px;height: auto; padding:0px;}

#site-nav {line-height: 24px;height: 24px;background-image: url(/images/system/bg_title.gif);font-size: 12px;border-right-width: 1px;border-right-style: solid;border-right-color: #BCC8D8;}
#content {width: 403px !important;width:443px;width:/*ie6*/403px;float: left;padding: 20px;clear: both;}
#site-nav2 {line-height: 24px;height: 24px;background-image: url(/images/system/bg_title.gif);font-size: 12px;border-right-width: 1px;border-right-style: solid;border-right-color: #BCC8D8; margin-left:1px;}
#content2 {width:733px;!important;width:773px;width:/*ie6*/733px;padding: 20px;clear: both; background-color:#FFFFFF; margin-left:1px; padding-left:4px;}

#product-intro dt {font-weight: bold;}
#product-intro span {font-size: 18px;color: #000000;}
/******************************end productpage*********************************/


/****************************style-support********************************/
#main-support {background-color: #FFFFFF;height:auto;width:757px !important; width:748px;float:left;clear:both;padding: 3px !important; padding:0px; margin:0px;}

#supportlist1 {background-image: url(/images/support/listbg1.gif);background-repeat: no-repeat;height: 170px;width: 181px;float: left;margin-right: 3px;margin-left: 2px;}
#supportlist2 {background-image: url(/images/support/listbg2.gif);background-repeat: no-repeat;height: 196px;width: 181px;float: left;margin-right: 3px;margin-left: 2px;}

#supportlist1 #supportlist-title {font-size: 13px;font-weight: bold;padding-left: 25px;line-height: 16px;font-family: Arial, Helvetica, sans-serif;height: 20px;}
#supportlist1 #supportlist1-content {height: 140px;background-image: url(/images/support/bg-list1.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist1 #supportlist2-content {height: 140px;background-image: url(/images/support/bg-list2.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist1 #supportlist3-content {height: 140px;background-image: url(/images/support/bg-list3.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist1 #supportlist4-content {height: 140px; margin: 10px;font-size: 10px;}

#supportlist2 #supportlist-title {font-size: 13px;font-weight: bold;padding-left: 25px;line-height: 16px;font-family: Arial, Helvetica, sans-serif;height: 20px;}
#supportlist2 #supportlist5-content {height: 160px;background-image: url(/images/support/bg-list5.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist2 #supportlist6-content {height: 160px;background-image: url(/images/support/bg-list4.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist2 #supportlist7-content {height: 160px;background-image: url(/images/support/bg-list7.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist2 #supportlist8-content {height: 160px;background-image: url(/images/support/bg-list6.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist4-content #button {float: right;font-size: 9px;}
#supportlist4-content #select {font-size: 9px; width:170px;}

/****************************right js css********************************/
#allcase{ width:140px;}
#casetitle{
	background-image:url(/images/community/customer1.jpg);
	background-repeat: no-repeat;
	height: 29px;
	width: 140px;
}
#casemid{
	background-image:url(/images/community/customer2.jpg);
	background-repeat: no-repeat;
	height: 51px;
	width: 140px;
}
#casebg1{
	background-image:url(/images/community/customerlineup.gif);
	background-repeat: repeat-x;
	height: 22px;
}

#casebg2{
	background-image:url(/images/community/customerlinedown.gif);
	background-repeat: repeat-x;
	height: 22px;
}
#casecontent{
	height: auto;
	width: 132px;
	background-color: #EEEDDB;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	padding: 4px;
	color: #2E0C03;
}
#casebottom{
	background-repeat: no-repeat;
	height: 20px;
	width: 140px;
	background-color: #BCD4F1;
	font-size: 11px;
}
