<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> This is test </title>
	<meta name="description" content="">
	<meta name="author" content="stefanie">
	{% bootstrap_stylesheet_tag %}
	{% bootstrap_stylesheet_tag "responsive" %}
	<style type="text/css">
		body{
			padding-top:60px;
		}
	</style>
</head>

<body>
	{% if password_is_wrong %}
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<h4>WRONG!</h4>username and password wrong!
	</div>
	{% endif %}
	<div class="well">
		<h1>This is Test</h1>
		<p>&nbsp;</p>
		<form class="form-horizontal" action="" method="post">
			{% csrf_token %}
			{{ form|as_bootstrap:"horizontal" }}
			<p class = "form-action">
				<input type="submit" value="Login" class="btn btn-primary">
				<a href="/contactme/"><input type="button" value="forget password" class="btn btn-danger"></a>
				<a href="/contactme/"><input type="button" value="new account" class="btn btn-success"></a>
			</p>
		</form>
	</div>
</body>
</html>