<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Net-Base</title>
        <meta name="ROBOTS" content="ALL" />
        <meta http-equiv="imagetoolbar" content="no" />
    <script type="text/javascript" src="/site_media/calendar.js"></script>
	<script type="text/javascript" src="/site_media/MochiKit.js"></script>  
	<script type="text/javascript" src="/site_media/FusionCharts.js"></script>
	<script language="javascript" src="/site_media/sorttable.js"></script>
    <script language="javascript" src="/site_media/tablecell.js"></script>
    <script language="javascript" src="/site_media/comm.js"></script>
	<link href="/site_media/global.css" rel="stylesheet" type="text/css">
    <link href="/site_media/nbase.css" rel="stylesheet" type="text/css">
    <link href="/site_media/style.css" rel="stylesheet" type="text/css">
    <SCRIPT language=javascript>
    if(location==parent.location){
        window.top.location.href="/main?goto="+location;
    }
    </SCRIPT>
    </head>
    <body class="bodymain">
       		<table width="100%" border=0>
       			<tr>
       				<td class="titleSection">{% block title %}title{% endblock %}</td>
       			</tr>
       			<tr>
       				<td><img src="/site_media/skin/01/topframe/line.gif" width="100%" height="1" /></td>
       			</tr>
       		</table>
            {% block content %}content{% endblock %}
          <div style="vertical-align:text-bottom;">
          	<img src="/site_media/skin/01/topframe/line.gif" width="100%" height="1" />
          	<div class="texteMenuGauche" style="width:100%;"><span>Copyright &copy;  2011 [PPLive 带宽中心] </span></div>
          </div>
    </body>
</html>

