
<HTML><HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<LINK rel=StyleSheet type=text/css href="/site_media/menu_files/menu.css">
<STYLE>
BODY {
	MARGIN: 8px; BACKGROUND: url(/site_media/skin/01/menu/menu_bg.gif)
}
</STYLE>
<SCRIPT language=JavaScript src="/site_media/menu_files/menu.js"></SCRIPT>
<SCRIPT language=javascript>
document.ondragstart = function() { return(false); }
var framset_menu = parent.window.document.getElementById('framset_menu');
if(framset_menu.getAttribute('show_menu_width') == 212)
{
	framset_menu.cols = '175,*'
	framset_menu.setAttribute('show_menu_width', 175)
}
if(window.addEventListener){ //给一个事件指派多个处理过程，随机执行多个处理过程
        window.addEventListener('load', __init__, false);
 } else {
        window.attachEvent('onload', __init__);
}
function __init__(){
    init_menu();
}
</SCRIPT>
</HEAD>
<BODY style="HEIGHT:100%">
<DIV style="HEIGHT: 100%" class=menu><IMG class=menu_tab onclick=menu_toggle(this); border=0 alt="" src="/site_media/menu_files/menu_tab_close.gif" width=10 height=34> 
<DIV id=menu_top><IMG border=0 alt="" src="/site_media/menu_files/menu_top_left.gif" width=143 height=5></DIV>

<DIV class=menu1>
<DIV id=prj_Discussion class=item1 onmouseover=menu_item_over(this); onmouseout=menu_item_out(this); onclick="parent.mainFrame.location.href='/';">首页</DIV>

<DIV id=prj_documents class=item1 onmouseover=menu_item_over(this); onmouseout=menu_item_out(this); onclick=menu_item_toggle(this);><IMG class=btn src="/site_media/menu_files/menu2_open.gif" width=17 height=20>基础信息</DIV>
<DIV class=item1_sub><DIV class=menu2>
<DIV class=item2 onmouseover=menu_item_over(this); onmouseout=menu_item_out(this); onclick="parent.mainFrame.location.href='/net_bw/showRoom/';">机房管理</DIV>
<DIV class=item2 onmouseover=menu_item_over(this); onmouseout=menu_item_out(this); onclick="parent.mainFrame.location.href='/net_bw/ip_room/';">IP查找机房</DIV>
<DIV class=item2 onmouseover=menu_item_over(this); onmouseout=menu_item_out(this); onclick="parent.mainFrame.location.href='/net_bw/room_bw/1/';">机房带宽</DIV>
</DIV></DIV>

<DIV id=prj_Gantt class=item1 onmouseover=menu_item_over(this); onmouseout=menu_item_out(this); onclick=menu_item_toggle(this);><IMG class=btn src="/site_media/menu_files/menu2_open.gif" width=17 height=20>带宽统计</DIV>
<DIV class=item1_sub>
<DIV class=menu2>
<DIV class=item2 onmouseover=menu_item_over(this); onmouseout=menu_item_out(this); onclick="parent.mainFrame.location.href='/net_bw/day_report/1/';">机房日利用率</DIV>
<DIV class=item2 onmouseover=menu_item_over(this); onmouseout=menu_item_out(this); onclick="parent.mainFrame.location.href='/net_bw/week_report/1/';">机房周利用率</DIV>
<DIV class=item2 onmouseover=menu_item_over(this); onmouseout=menu_item_out(this); onclick="parent.mainFrame.location.href='/net_bw/month_report/1/1/';">机房月利用率</DIV>
<DIV class=item2 onmouseover=menu_item_over(this); onmouseout=menu_item_out(this); onclick="parent.mainFrame.location.href='/net_bw/bw_report/1/';">带宽曲线图</DIV>
</DIV></DIV>

<DIV id=menu_bottom><IMG border=0 alt="" src="/site_media/menu_files/menu_bottom_left.gif" width=143 height=5></DIV>
</DIV></DIV></BODY></HTML>
