<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Frameset//EN">
<HTML><HEAD><TITLE>机房带宽管理系统</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<SCRIPT language=javascript>
<!--  
if (parent.location != location)
	top.location = location;  
//-->
</SCRIPT>
</HEAD>
<SCRIPT language=javascript>
//var index="/";
var month="/net_bw/month_report/1/1/"
if(location.href.indexOf("?goto=")!=-1){
    index=location.search.substring(6);
}
document.write("<FRAMESET frameSpacing=0 border=0 cols=* frameBorder=NO rows=53,*>");
document.write("<FRAME id=topFrame noResize src=\"/top\" name=topFrame scrolling=no>");
document.write("<FRAMESET id=framset_menu cols=175,* frameBorder=0 hide_menu_width=\"8\" show_menu_width=\"175\">");
document.write("<FRAME id=leftFrame noResize marginHeight=0 src=\"/left\" frameBorder=no name=leftFrame marginWidth=0 scrolling=no>");
document.write("<FRAME src=\""+month+"\" name=\"mainFrame\">");
document.write("</FRAMESET>");
document.write("</FRAMESET>");
</SCRIPT>
</HTML>
