{% if results %}
<table width="100%" border="0" cellpadding="3" cellspacing="1">
    <tr><td align="right">
        {% if results.has_previous %}
            <a href="{{ pageUrl }}page={{ results.previous_page_number }}">上一页</a>
        {% endif %}
        {% if results.has_next %}
            <a href="{{ pageUrl }}page={{ results.next_page_number }}">下一页</a>
        {% endif %}
        第{{ results.number }}页|共{{ results.paginator.num_pages }}页|共{{ results.paginator.count }}个
    </td></tr>
</table>
{% endif %}