<HTML><HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META content=no-cache http-equiv=pragma>
<META content=0 http-equiv=expires>
<META content=no-cache http-equiv=cache-control>
<STYLE>
A:link {
	COLOR: #14426d; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
BODY.bg {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FONT-FAMILY: arial; HEIGHT: 75px; FONT-SIZE: 11px; PADDING-TOP: 0px
}
body {
  font-size:10px;
}
</STYLE>

</HEAD>
<BODY class=bg background="/site_media/skin/01/topframe/n_top_bg.gif">
<table border="0" width="100%" height="30">
<tr>
<td align="left" width="50">
	<IMG class=logo border=0 align=left height=36 width=73 src="/site_media/pp-logo.png"/>
</td>
<td align="left" style="font-size:10pt" width='150'>
<font color="blue">机房带宽管理系统 v{{version}}</font>
</td>

<td style="font-size:9pt;width:750px;" valign='center'>

</td>
<td align="right" style="font-size:9pt" width='330'>
欢迎&nbsp;&nbsp;<font color="red">{{user}}</font>
<img src="/site_media/skin/01/icone/accountCreate.gif" border="0" align="absmiddle"/>&nbsp;<A  onclick="parent.top.location='/admin'" href="/admin">后台管理</A>
<img src="/site_media/skin/01/icone/logout.gif" border="0" align="absmiddle"/>&nbsp;<A  onclick="parent.top.location='/accounts/logout'" href="/accounts/logout">退出</A>
</td>
</tr>
</table>
</BODY>
</HTML>
