BODY {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background: #BDCBE7;
}
a:link { 
	text-decoration: none;
	color: blue;
	font-size: 14px;
}
a:active { 
	text-decoration:blink;
}
a:hover {
	text-decoration:underline;
	color: yellow;
} 
a:visited { 
	text-decoration: none;
	color: blue;
	font-size: 14px;
}
td {
	font-size: 14px;
}
.LoginIndex {
	font-family: "»ªÎÄÐÐ¿¬";
	font-size:24px;
	color: #8965F5;
}
.LoginIndex p {
	text-indent: 20px;
}
.handpic {
	cursor: pointer;
	border: 0;
}
.midWhite {
	color: #FFFFFF;
	font-size: 14px;
}
.midBlue {
	color: #0000FF;
	font-size: 14px;
}