BODY {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.tableText {
	font-size:14px;
}
.midWhite {
	color: #FFFFFF;
	font-size: 14px;
}
.midBlue {
	color: #0000FF;
	font-size: 14px;
}
