
BODY.bodymain {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; SCROLLBAR-BASE-COLOR: #eeeeee; BACKGROUND: url(/site_media/skin/01/image/main_rond.gif) fixed no-repeat; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; SCROLLBAR-SHADOW-COLOR: #9f9f9f; SCROLLBAR-TRACK-COLOR: #cccccc; SCROLLBAR-3DLIGHT-COLOR: #999999; PADDING-TOP: 10px;
}

TABLE {
	FONT-FAMILY: verdana; FONT-SIZE: 12px;
}
TD {
	/*COLOR: #14426b;*/
	COLOR: #000000;
	FONT-FAMILY: verdana; FONT-SIZE: 12px;
}
.titreSection {
	COLOR: #5b0000
}
.DataFONT {
	COLOR: #14426b
}
.title {
	BORDER-BOTTOM: #cfdae3 3px double; BORDER-LEFT: #c6d2de 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #1c5b94; COLOR: #ffffff; BORDER-TOP: #cfdae3 1px solid; BORDER-RIGHT: #c6d2de 1px solid; PADDING-TOP: 1px
}
.title2 {
	BORDER-BOTTOM: #cfdae3 1px solid; BORDER-LEFT: #c6d2de 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #1c5b94; COLOR: #ffffff; BORDER-TOP: #cfdae3 1px solid; BORDER-RIGHT: #c6d2de 1px solid; PADDING-TOP: 1px
}
.title_stats {
	BORDER-BOTTOM: #cfdae3 1px solid; BORDER-LEFT: #cfdae3 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #dce5ea; COLOR: #000000; BORDER-TOP: #cfdae3 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #cfdae3 1px solid; PADDING-TOP: 1px
}
.title A:link {
	COLOR: #ffffff
}
.title A:active {
	COLOR: #ffffff
}
.title A:visited {
	COLOR: #ffffff
}
.title A:hover {
	COLOR: #ffffff
}
.titleSection {
color:#5B0000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:14px;
font-style:normal;
font-weight:bold;
}
.texteMenuGauche A:link {
	COLOR: #000000
}
.texteMenuGauche A:active {
	COLOR: #000000
}
.texteMenuGauche A:visited {
	COLOR: #000000
}
.texteMenuGauche A:hover {
	COLOR: #000000
}
.texteMenuGauche {
color:#000000;
font-family:Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
font-style:normal;
font-weight:bold;
}
.DataTD {
	BORDER-BOTTOM: #cfdae3 1px solid; BORDER-LEFT: #cfdae3 1px dotted; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #ffffff; BORDER-TOP: #cfdae3 1px solid; BORDER-RIGHT: #cfdae3 1px dotted; PADDING-TOP: 1px
}
.DataTDGrey {
	BORDER-BOTTOM: #cfdae3 1px solid; BORDER-LEFT: #cfdae3 1px dotted; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #edf2f6; BORDER-TOP: #cfdae3 1px solid; BORDER-RIGHT: #cfdae3 1px dotted; PADDING-TOP: 1px
}
.DataTD2 {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid
}
.DataTD3 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #c6d2de 1px solid; PADDING-TOP: 1px
}
.DataTDweek {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid
}
.DataTDNoBorder {
	BACKGROUND: #dce5ea
}
.DataTDNotDotted {
	BORDER-BOTTOM: #cfdae3 1px solid; BORDER-LEFT: #cfdae3 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #dce5ea; BORDER-TOP: #cfdae3 1px solid; BORDER-RIGHT: #cfdae3 1px solid; PADDING-TOP: 1px
}
.desc_cell {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #dce5ea; COLOR: #14426b; PADDING-TOP: 2px
}
.desc_cell_comment {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #dce5ea; COLOR: #14426b; PADDING-TOP: 2px
}

.ErrFONT {
	COLOR: #000000
}
.group_title {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000000; PADDING-TOP: 0px
}
.bg_color_form {
	BACKGROUND-COLOR: #c6d2de
}
.read_only_box {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; BACKGROUND-COLOR: #f4f4f4; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid
}
#hr_color {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: #c6d2de; HEIGHT: 1px; COLOR: #c6d2de; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.TextReadOnly {
	COLOR: #000000
}
.TextReadOnly A:link {
	COLOR: #000000
}
.TextReadOnly A:active {
	COLOR: #000000
}
.TextReadOnly A:visited {
	COLOR: #000000
}
.TextReadOnly A:hover {
	COLOR: #000000
}
.htmlarea_menu {
	BORDER-BOTTOM: #3b6788 1px solid; BORDER-LEFT: #3b6788 1px solid; BACKGROUND: url(skin/01/htmlarea/htmlarea_menu_bg.gif); BORDER-TOP: #3b6788 1px solid; BORDER-RIGHT: #3b6788 1px solid
}
.htmlarea {
	BORDER-BOTTOM: #3b6788 1px solid; BORDER-LEFT: #3b6788 1px solid; BORDER-TOP: #3b6788 1px solid; BORDER-RIGHT: #3b6788 1px solid
}
.ColumnFONT {
	COLOR: #ffffff
}
.WeekDay {
	BACKGROUND-COLOR: #1c5b94; COLOR: #ffffff
}
.ColorPickerTitle {
	BACKGROUND: url(skin/01/image/CP_title.gif); COLOR: #ffffff
}
.ColorPickerTitlePreview {
	BACKGROUND: url(skin/01/image/CP_title2.gif); COLOR: #ffffff
}
.ColorPickerTitleBG {
	BACKGROUND: url(skin/01/image/CP_title.gif)
}
.drsMoveHandle {
	POSITION: relative; HEIGHT: 20px; VERTICAL-ALIGN: top; CURSOR: move
}
.drsMoveHandleLink {
	POSITION: relative; VERTICAL-ALIGN: top; CURSOR: move
}
.drsMoveHandle2 {
	POSITION: relative; WIDTH: 335px; BACKGROUND: url(skin/01/image/colorpicker_bg.gif); HEIGHT: 360px; VERTICAL-ALIGN: top; CURSOR: move
}
.drsMoveHandlePreview2 {
	POSITION: relative; WIDTH: 590px; BACKGROUND: url(skin/01/image/colorpicker_bg.gif); HEIGHT: 500px; VERTICAL-ALIGN: top; CURSOR: move
}
.PopUpBackround {
	BACKGROUND-COLOR: #f4f4f4
}
.drsMoveHandlePreview {
	POSITION: relative; WIDTH: 590px; HEIGHT: 500px; VERTICAL-ALIGN: top; CURSOR: move
}
.WeekNum {
	BORDER-BOTTOM: #c6d2de 1px solid; BACKGROUND-COLOR: #1c5b94; COLOR: #ffffff
}
.WeekNum A:active {
	BORDER-BOTTOM: #c6d2de 1px solid; BACKGROUND-COLOR: #1c5b94; COLOR: #ffffff
}
.WeekNum A:link {
	BORDER-BOTTOM: #c6d2de 1px solid; BACKGROUND-COLOR: #1c5b94; COLOR: #ffffff
}
.WeekNum A:visited {
	BORDER-BOTTOM: #c6d2de 1px solid; BACKGROUND-COLOR: #1c5b94; COLOR: #ffffff
}
.WeekNum A:hover {
	BORDER-BOTTOM: #c6d2de 1px solid; BACKGROUND-COLOR: #1c5b94; COLOR: #ffffff
}
.EmptyDays {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid
}
.Days {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; BACKGROUND-COLOR: #f4f4f4; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid
}
.CurDay {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; BACKGROUND-COLOR: #f4f4f4; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid
}
.htmlarea_dialog {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; PADDING-BOTTOM: 8px; BACKGROUND-COLOR: #dce5ea; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: verdana; FONT-SIZE: 11px; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid; PADDING-TOP: 8px
}
.quick_action {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; BACKGROUND-COLOR: #dce5ea; FONT-FAMILY: verdana; FONT-SIZE: 11px; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid
}
.CommentThread1 {
	BORDER-BOTTOM: #cfdae3 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffffff; BORDER-TOP-COLOR: #cfdae3; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: #cfdae3; BORDER-LEFT-COLOR: #cfdae3; PADDING-TOP: 0px
}
.CommentThread2 {
	BORDER-BOTTOM: #cfdae3 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #edf2f6; BORDER-TOP-COLOR: #cfdae3; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: #cfdae3; BORDER-LEFT-COLOR: #cfdae3; PADDING-TOP: 0px
}
.CommentThread3 {
	BORDER-BOTTOM: #cfdae3 1px solid; PADDING-BOTTOM: 3px; BACKGROUND-COLOR: #ffffff; BORDER-TOP-COLOR: #cfdae3; PADDING-LEFT: 0px; PADDING-RIGHT: 3px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-COLOR: #cfdae3; BORDER-LEFT-COLOR: #cfdae3; PADDING-TOP: 3px
}
.OngletComments {
	BORDER-LEFT: #c6d2de 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #dce5ea; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica; WHITE-SPACE: nowrap; COLOR: #000000; FONT-SIZE: 8pt; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid
}
.legend {
	FONT-FAMILY: Verdana; COLOR: #666666; FONT-SIZE: 12px
}
.popCalendar {
	BORDER-BOTTOM: #cfdae3 1px solid; BORDER-LEFT: #cfdae3 1px solid; COLOR: #ffffff; BORDER-TOP: #cfdae3 1px solid; CURSOR: pointer; BORDER-RIGHT: #cfdae3 1px solid
}
.PopHeaderBG {
	BACKGROUND: #edf2f6
}
.popBottom {
	BACKGROUND: #edf2f6
}
.popBottom A {
	BACKGROUND: #edf2f6
}
.popDropList_table {
	BORDER-BOTTOM: #cfdae3 1px solid; BORDER-LEFT: #cfdae3 1px solid; BACKGROUND: #edf2f6; BORDER-TOP: #cfdae3 1px solid; CURSOR: pointer; BORDER-RIGHT: #cfdae3 1px solid
}
.popDropList {
	COLOR: #000000
}
.popDropList_over {
	COLOR: #000000
}
.day_name {
	COLOR: #000000
}
.popDay {
	COLOR: #000000
}
.popDay A {
	COLOR: #000000
}
.popDayPast {
	COLOR: #000000
}
.popDayPast A {
	COLOR: #000000
}
.popDayToday {
	COLOR: #000000; FONT-WEIGHT: bold
}
.popDayToday A {
	COLOR: #000000; FONT-WEIGHT: bold
}
.popDayWeekend {
	COLOR: #000000; FONT-WEIGHT: bold
}
.popDayWeekend A {
	COLOR: #000000; FONT-WEIGHT: bold
}
.popDayWeekendPast {
	COLOR: #14426b
}
#dropmenudiv {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; BACKGROUND-COLOR: #ffffff; BORDER-TOP: #c6d2de 1px solid; CURSOR: pointer; BORDER-RIGHT: #c6d2de 1px solid
}
#dropmenudiv A:hover {
	BACKGROUND-COLOR: #edf2f6; CURSOR: pointer
}
.login_form_txt {
	COLOR: #14426b
}
.login_form_input {
	BORDER-BOTTOM: #14426b 1px solid; BORDER-LEFT: #14426b 1px solid; BORDER-TOP: #14426b 1px solid; BORDER-RIGHT: #14426b 1px solid
}
.login_form_td A:link {
	COLOR: #14426b
}
.login_form_td A:visited {
	COLOR: #14426b
}
.login_form_pass {
	COLOR: #14426b
}
.copyright_login {
	COLOR: #000000
}
.prev_next_bg {
	MARGIN-RIGHT: 3px
}
.week_button {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; BACKGROUND: #ffffff; COLOR: #000000; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid
}
.save_icon {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; MARGIN-TOP: 2px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP: #c6d2de 1px solid
}
.save_menu {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid
}
.popup_color_bg {
	BORDER-BOTTOM: #cfdae3 1px solid; BORDER-LEFT: #cfdae3 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #cfdae3 1px solid; BORDER-RIGHT: #cfdae3 1px solid; PADDING-TOP: 1px
}
.popup_table_bgcolor {
	BORDER-BOTTOM: #cfdae3 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: #f4f4f4; BORDER-RIGHT: #cfdae3 1px solid; PADDING-TOP: 2px
}
.assignation_tab {
	BACKGROUND-COLOR: #f4f4f4
}
.custom_report_field {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; PADDING-BOTTOM: 3px; MARGIN: 7px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid; PADDING-TOP: 4px
}
.custom_report_date {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid; PADDING-TOP: 4px
}
.custom_report_legend {
	BORDER-BOTTOM: #c6d2de 1px solid; BORDER-LEFT: #c6d2de 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; BACKGROUND: #dce5ea; COLOR: #000000; FONT-SIZE: 11px; BORDER-TOP: #c6d2de 1px solid; BORDER-RIGHT: #c6d2de 1px solid; PADDING-TOP: 2px
}
.custom_report_legenddate {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana; COLOR: #000000; FONT-SIZE: 11px; PADDING-TOP: 2px
}
.button_calendar {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 1px
}
.button_calendar {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
x:unknown {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
.button_calendar {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
x:unknown {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
x:unknown {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
#ff {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
x:unknown {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}

table.sortable{border: 1px solid #666;	
	border-collapse: separate;
	margin: 0 0 0 0 !important;}

table.sortable td{
	padding: 3px;
	color: #000000;
	white-space:nowrap;
	FONT-SIZE: 11px;
}

table.sortable th{
  background:#1C5B94;
	color:#ffffff;
	padding: 3px;
	white-space:nowrap;
	border-bottom: 1px solid #000000;
	FONT-SIZE: 11px;
}
table.sortable thead {
	background:#1C5B94; 
	color:#FFFFFF; 
	text-align:center;
}
table.sortable tr.even {
	background:#EDF2F6;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.sortable tr.odd {
	background: #EFF7FD;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.sortable tr.n1 {
	background: #C0FFAF;
	border-top: 1px solid #C0C0C0;
	color: #FF0000;
}

table.sortable tr.n2 {
	background: #FFE7BF;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.sortable tr.n3 {
	background: #B0F1FF;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.sortable tr.n4 {
	background: #FFAFEF;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.sortable tr.n5 {
	background: #D0BBFF;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.sortable tr.n6 {
	background: #C1F8BA;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.sortable tr.n7 {
	background: #C1F8BA;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.sortable tr.n8 {
	background: #C1F8BA;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.sortable tr.n9 {
	background: #C1F8BA;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.sortable tr.n10 {
	background: #C1F8BA;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable{border: 1px solid #666;
	border-collapse: separate;
	margin: 0 0 0 0 !important;}

table.bwtable td{
	padding: 3px;
	color: #000000;
	white-space:nowrap;
	FONT-SIZE: 11px;
}

table.bwtable th{
  background:#1C5B94;
	color:#ffffff;
	padding: 3px;
	white-space:nowrap;
	border-bottom: 1px solid #000000;
	FONT-SIZE: 11px;
}
table.bwtable thead {
	background:#1C5B94;
	color:#FFFFFF;
	text-align:center;
}
table.bwtable tr.even {
	background:#EDF2F6;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable tr.odd {
	background: #EFF7FD;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable tr.n1 {
	background: #C0FFAF;
	border-top: 1px solid #C0C0C0;
	color: #FF0000;
}

table.bwtable tr.n2 {
	background: #FFE7BF;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable tr.n3 {
	background: #B0F1FF;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable tr.n4 {
	background: #FFAFEF;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable tr.n5 {
	background: #D0BBFF;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable tr.n6 {
	background: #C1F8BA;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable tr.n7 {
	background: #C1F8BA;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable tr.n8 {
	background: #C1F8BA;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable tr.n9 {
	background: #C1F8BA;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.bwtable tr.n10 {
	background: #C1F8BA;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}


table.list{border: 1px solid #666;	
  border-collapse: separate;
	margin: 0 0 0 0 !important;}

table.list td{
	padding: 3px;
	color: #000000;
	white-space:nowrap;
	FONT-SIZE: 11px;
}

table.list th{
  background:#1C5B94;
	color:#ffffff;
	padding: 3px;
	white-space:nowrap;
	border-bottom: 1px solid #000000;
	FONT-SIZE: 11px;
}
table.list thead {
	background:#1C5B94; 
	color:#FFFFFF; 
	text-align:center;
}
table.list tr.even {
	background:#EDF2F6;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

table.list tr.odd {
	background: #EFF7FD;
	border-top: 1px solid #C0C0C0;
	color: #000000;
}

.table_bord { background-color:#e3e5e7; border:0px solid #ccc; }

#container { position:relative; min-width:55em; max-width:100em; }
#columnwrap { padding-bottom:10px; }
#content-main { float:left; width:100%; color:black; padding-bottom:10px; }
#content-related { float:right; width:30%; background:#E5ECF9;}
.sidebar { font-size:72%; width:200; }
.sidebar * { margin-left:14px; margin-right:14px; }
.sidebar * * { margin-left:0; margin-right:0; }
#searchbar {float:left; width:100%; background:#FFF7D6; margin: 5px 0 5px 0; display: table; vertical-align:middle; FONT-SIZE: 11px; }
#sorttable_sortfwdind {color:white;}
#sorttable_sortrevind {color:white;}
#sorttable_sorted_reverse {color:white;}
#comment { margin: 5px 0 5px 5px; }

.horizontal {
	float:left;
}

