{% load staticfiles %}

<link type="text/css" rel="stylesheet"  href="{% static 'polls/style.css' %}" />
{% if latest_poll_list %}
	<ul>
	{% for poll in latest_poll_list %}
		<li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %}

<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>My Social Network</title>
	</head>
	<body>
		<!--Add your HTML below!-->
		<div class="friend" id="best_friend"><p>friend</p></div>
		<div class="family"><p>family</p></div>
		<div class="enemy" id="archnemesis"><p>enemy</p></div>
	</body>
</html>

