/**************************Copyright 2008 www.sothink.com********************/
.area-info {text-align:center;padding-top:5px;padding-bottom:5px;margin-top:10px;margin-bottom:10px;height: 45px;padding-left: 80px;}
.button {background-image: url(/images/system/bg_button.gif);background-repeat: no-repeat;height: 44px;width: 155px;float: left;text-align: left;padding-left: 25px;padding-top:5px;list-style-type: none;margin-left: 20px !important; margin-left:13px;}
.contentstyle1 {padding: 10px;}

/*********************************begin top*********************************/
#top-key {line-height: 12px;height: 12px;width: 980px;font-size: 10px;color: #FFFFFF;}
#top-order {background-image: url(/images/system/top_order.gif);height: 73px;width: 980px;}
#top-logo {height: 65px;width: 980px;}
#top-logo #logo-area {text-align: left;width: 500px;float: left; margin-left:30px;}
html>body #logo-area {background-image: url(/style08/images/sothink-logo.png);background-repeat: no-repeat;}
#top-logo #top-search {float:right;width: 400px;margin-top: 30px;}
#top-logo #top-search #search #searchTextDiv #q {width:200px; height:15px;}
#top-menu {line-height: 31px;height: 37px;width: 980px;margin-bottom: 15px;}
html>body #top-menu {background-repeat: no-repeat;background-position: center;}

#top-menu #top-dmenu {float: left;height: 32px;line-height: 37px;color: #FFFFFF;text-align:left;padding-top: 5px;padding-left:50px;padding-right:50px;}
#top-menu #top-menu2{ display:none;}
/******************************end top*********************************/
/******************************begin bottom*********************************/
#content-bottom {height: 8px;width: 980px;clear: both; margin-bottom:1px;clear:both;}
html>body #content-bottom {background-image: url(/style08/images/bg-content-bottom.png);background-repeat: no-repeat;}

#bottom-menu {color: #0000FF;height:30px;width: 980px;line-height: 25px;clear:both;padding-top: 9px;}
html>body #bottom-menu {background-image: url(/style08/images/bg-bottom.png);background-repeat: no-repeat;background-position: bottom;}
#bottom-menu a:link {text-decoration: none;color: #0000FF;}
#bottom-menu a:visited {text-decoration: none;color: #0000FF;}
#bottom-menu a:hover {text-decoration: underline;color: #0000FF;}

#bottom-menu-index {color: #0000FF;height:30px;width: 980px;line-height: 25px;clear:both;padding-top: 9px;}
html>body #bottom-menu-index {background-image: url(/style08/images/bg-bottom-index.png);background-repeat: no-repeat;background-position: bottom;}
#bottom-menu-index a:link {text-decoration: none;color: #0000FF;}
#bottom-menu-index a:visited {text-decoration: none;color: #0000FF;}
#bottom-menu-index a:hover {text-decoration: underline;color: #0000FF;}

#bottom-key {color: #F6F6F6;height:62px;width:980px;line-height:60px;}
html>body #bottom-key {background-image: url(/style08/images/bg-bottom2.png);background-repeat: no-repeat;}

#bottom-key #key-text{width:745px;text-align:left;color: #F6F6F6;}

/******************************end bottom*********************************/


/******************************begin indexpage*********************************/
#site-ad {width:980px;}
#site-ad-top {height: 9px;;width: 980px;}
html>body #site-ad-top {background-image: url(/style08/images/bg-content-top.png);background-repeat: no-repeat;background-position: top;}

#site-ad #ad-1 {background-color: #FFFFFF;width:770px;float:left;}
#site-ad #ad-2 {float:left;background-color: #FFFFFF; width:210px; height:190px;background-image: url(/style08/images/bg-news.gif); text-align:left;}
#ad-2 ul {margin-left:0px; margin-right:20px; margin-top:10px;}
#ad-2 li {color:#CCCCCC;text-align: left;list-style-type: none;padding-top: 5px; padding-bottom:5px;}
#ad-2 a {color: #CCCCCC;}

#box-all {width: 980px; clear:both;}
#content-box {height: auto;width:980px;background-color: #f2f2f2;float:left;}


#content-box #right-box {width:210px;float:left;background-color: #e4eaee;background-image: url(/style08/images/bg-right.gif);background-repeat: no-repeat;background-position: top;}

#right-box ul {padding-top:10px;padding-bottom: 10px;}
#right-box li {text-align: left;list-style-type: none;padding-top: 5px; padding-bottom:5px;}

#content-box #product {width:770px;float: left;background-color: #f2f3f5;}

#product .productinfo-area {
	float: left;
	height: 200px;
	width: 245px !important;
	width:245px;
	width:/*ie6*/242px;
	background-color: #EEF6FB;
	border: 1px solid #bcd0e6;
	margin-top: 10px;
	margin-left: 7px;
	text-align:left;
}
#product .productinfo-area .title {background-image: url(/style08/images/bg-indexproduct-title.gif);background-repeat: repeat-x;font-weight: bold;height: 31px;line-height:25px;font-size: 12px;color: #000000;text-align: left;padding-left: 20px;}
.productinfo-area .product-info {
	margin: 5px;
	height: 125px;
	margin-top:15px;
}
.productinfo-area .product-info img {float: left; margin-left:5px;margin-right:15px; margin-bottom:0px;}
.productinfo-area .btn-tools {height: 28px;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;text-align: center;}
#content-box #product #otherproduct-area {background-image: url(/style08/images/bg-otherpruduct.gif);background-repeat: no-repeat;float: left;width: 765px;height: 170px;background-position: right bottom;}
#otherproduct-area .otherproduct {float: left;width:350px;margin-top: 20px;margin-left:30px !important;margin-left:30px;margin-left:/*ie6*/15px;text-align:left;}
#otherproduct-area .otherproduct img {float: left;}
#right-box #freeproductarea {height: auto;width: 90%;border: 1px solid #BCD0E6;margin-top: 10px;margin-bottom:10px;}
#freeproductarea #freeproduct-title {background-color: #e1e1e1;text-align: left;height:24px;line-height:24px;font-weight:bold;padding-left: 10px;}
#freeproductarea #freeproduct-title img {float: left;margin-left: 15px; margin-right:10px;margin-top: 6px;}
#freeproductarea #freeproduct-content {background-image: url(/style08/images/bg-indexfreeproduct-content.gif);background-repeat: repeat-x;background-position: bottom;background-color: #FFFFFF;text-align: left; height:140px;}
#freeproductarea #freeproduct-content img {float: left;margin-left:20px;margin-bottom:0px;}
#freeproduct-content #more {text-align: right;margin-right: 8px;}

/******************************end indexpage*********************************/
/******************************begin productpage*********************************/
#ad-tmp{
	margin-top:-180px;
	margin-bottom:10px;
	margin-left:-15px;
	height: 135px;
	width: 180px;
	z-index:100;
	display: block;
	overflow: visible;
}
html>body #ad-tmp{ background-image:url(/images/product/javascriptwebscroller/tips.png)}
#page-contentbox {width:980px;}
#product-ad {height:190px;width:980px;}
#product-ad #ad-text {width:980px;height:190px;clear:both;}
#product-ad #ad-text #area1{ width:210px;height: 190px;background-image: url(/style08/images/bg-product-news.gif); float:left;}
#product-ad #ad-text #area1 a{width: 210px;padding-top:0px; float:left;	color: #F3F3F3;	font-size:12px;	font-weight:bold; margin-bottom:20px;}
#product-ad #ad-text #area2 {width: 770px;height: 190px; float:left; background-color:#FFFFFF;}

#product-box {width: 980px;height: auto;background-repeat: repeat-y;float: left;background-color: #f2f5f6;background-image: url(/style08/images/bg-content.gif);}
#product-box #main-content {text-align: left; width:753px !important;width:750px;width:/*ie6*/750px;float: left;height: auto;border: 1px solid #bcd2e8;margin-left: 8px;margin-right:5px; margin-top:8px; background-color:#ffffff;}

#site-nav {line-height: 30px;height: 32px;font-size: 11px;background-image: url(/style08/images/bg-content-title.gif);background-repeat: repeat-x;}
#content {width: 550px !important;width:547px;width:/*ie6*/547px;float: left;padding: 20px;clear: both;}

/************ leftmenu *************/
#product-box #left-menu {height: auto;width: 210px;float: left;background-image: url(/style08/images/bg-right.gif);background-repeat: no-repeat;background-position: top; float:left; padding-top:10px;}
#left-menu #menu-title {line-height: 30px;height: 30px;font-size: 12px;font-weight: bold;color: #000000;text-align: left;padding-left: 15px;background-image: url(/style08/images/bg-h3.png);background-repeat: repeat-x;}#left-menu #treemenu {margin-left: 1px;text-align:left;padding-left: 10px;}
#left-menu #newsletter {clear: both;padding-top:5px; text-align:left;}
#newsletter ul {padding-top: 5px;padding-bottom: 5px; width:150px !important;width:170px;width:/*ie6*/150px;}
#newsletter li {text-align: left;padding-right: 5px; list-style-type: none;padding-bottom:5px;}
#newsletter select{ font-size:11px;}
#newsletter #maillist li {float: left;}


/************ right *************/
#main-content #right {width: 163px;float: left;}
#right #right-info {background-image: url(/images/system/line-product1.gif);background-repeat: repeat-y;}
#right-info #showbox {text-align: center;padding-top: 30px;padding-bottom: 30px;}
#right-info ul {padding-top: 10px;padding-bottom: 10px;}
#right-info li {text-align: left;padding-right: 5px; list-style-type: none;padding-top: 5px; padding-bottom:5px;}
#right-info #soft-info {padding-left:15px; padding-right:15px; padding-bottom:15px;}
#right #right-info #soft-info dt {border-top-width: 1px;border-top-style: dotted;border-top-color: #000000;padding-top: 5px; font-size:10px; font-weight:bold;}
#right #right-info #soft-info dd {font-size:10px;}
#right #right-info #soft-info #first {border-top-style: none;}
#right #right-end {background-image: url(/images/system/line-product.gif);background-repeat: no-repeat;background-position: left bottom;height:126px;}
/****** right case *******/
#allcase{ width:140px;}
#casetitle{background-image:url(/images/community/customer1.jpg);background-repeat: no-repeat;height: 29px;width: 140px;}
#casemid{background-image:url(/images/community/customer2.jpg);background-repeat: no-repeat;height: 51px;width: 140px;}
#casebg1{background-image:url(/images/community/customerlineup.gif);background-repeat: repeat-x;height: 22px;}
#casebg2{background-image:url(/images/community/customerlinedown.gif);background-repeat: repeat-x;height: 22px;}
#casecontent{height: auto;width: 132px;background-color: #EEEDDB;font-size: 14px;font-weight: normal;line-height: 18px;padding: 4px;color: #2E0C03;}
#casebottom{background-repeat: no-repeat;height: 20px;width: 140px;background-color: #BCD4F1;font-size: 11px;}

#product-box #main-content2 {text-align: left;width: 975px;height: auto; padding:0px; margin-top:5px;border:#e3f2fa solid 1px;}

#content2 {width:950px;!important;	width:950px;width:/*ie6*/960px;padding: 20px;clear: both;background-color:#FFFFFF;margin-left:1px;padding-left:4px;padding-right: 4px;}


#site-nav2 {line-height: 25px;height: 31px;background-image: url(/style08/images/bg-indexproduct-title.gif);font-size: 11px; margin-left:1px; margin-top:1px;}

#product-intro dt {font-weight: bold;}
#product-intro span {font-size: 18px;color: #000000;}
/******************************end productpage*********************************/

/****************************style-support********************************/
#main-support {background-color: #FFFFFF;height:auto;width:950px !important;width:950px;float:left;clear:both;padding: 0px !important;padding:0px;margin:0px;text-align:center;margin-left:10px;}

#supportlist1 {background-image: url(/images/support/listbg_new.gif);background-repeat: no-repeat;height: 200px;width: 230px;float: left;margin-right: 2px;margin-left: 2px;}
#supportlist2 {background-image: url(/images/support/listbg_new.gif);background-repeat: no-repeat;height: 200px;width: 230px;float: left;margin-right: 2px;margin-left: 2px;}

#supportlist1 #supportlist-title {font-size: 13px;font-weight: bold;padding-left: 0px;line-height: 16px;font-family: Arial, Helvetica, sans-serif;height: 20px;}
#supportlist1 #supportlist1-content {
	height: 140px;
	background-image: url(/images/support/bg-list0.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	margin: 10px;
	font-size: 10px;
}
#supportlist1 #supportlist2-content {height: 140px;background-image: url(/images/support/bg-list1.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist1 #supportlist3-content {height: 140px;background-image: url(/images/support/bg-list3.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist1 #supportlist4-content {height: 140px; margin: 10px;font-size: 10px;}

#supportlist2 #supportlist-title {font-size: 13px;font-weight: bold;padding-left: 0px;line-height: 16px;font-family: Arial, Helvetica, sans-serif;height: 20px;}
#supportlist2 #supportlist5-content {height: 160px;background-image: url(/images/support/bg-list5.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist2 #supportlist6-content {height: 160px;background-image: url(/images/support/bg-list4.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist2 #supportlist7-content {height: 160px;background-image: url(/images/support/bg-list7.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist2 #supportlist8-content {height: 160px;background-image: url(/images/support/bg-list6.gif);background-repeat: no-repeat;background-position: right bottom;margin: 10px;font-size: 10px;}
#supportlist4-content #button {float: right;font-size: 9px;}
#supportlist4-content #select {font-size: 9px; width:170px;}

/**********For IE6 png**********/
//*html #top-menu {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="/style08/images/bg-menu.png";}
#top-menu a{position:relative;}/*Fix IE6 Link*/
#logo-area a{position:relative;}/*Fix IE6 Link*/

*html #content-bottom {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="/style08/images/bg-content-bottom.png";}
*html #site-ad-top {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="/style08/images/bg-content-top.png";}

*html #bottom-menu {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="/style08/images/bg-bottom.png";}
#bottom-menu a{position:relative; color:#0000FF}/*Fix IE6 Link*/

*html #bottom-key {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="/style08/images/bg-bottom2.png";}
*html #top-logo #logo-area {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="/style08/images/sothink-logo.png";}
*html #bottom-menu-index {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="/style08/images/bg-bottom-index.png";}
*html #ad-tmp {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, src="/images/product/javascriptwebscroller/tips.png";}
#bottom-menu-index a {position:relative;}
#ad-tmp a{position:relative;}
