.turnTable {
	font-size: 12px;
	text-align: center;
	border: 1px solid #5A5A5A;
	border-collapse:collapse;
	border-color:#AA9FFF;
	width:100%;
}
.turnTable th{
	font-size: 13px;
	text-align: center;
	color:#9870F5;
	border: 1px solid #5A5A5A;
	border-collapse: collapse;
	border-color: #AA9FFF;
	background-color: #CEDFF1;
}
.turnTable td{
	border: 1px solid #5A5A5A;
	border-collapse:collapse;
	border-color:#AA9FFF;
	text-align: center;
}
.turnTable a:link { 
	text-decoration:none;
	color: blue;
	font-size: 13px;
}
.turnTable a:active {
	text-decoration:blink
}
.turnTable a:hover {
	text-decoration:underline;
	color: #FE443F;
	font-weight: bold;
} 
.turnTable a:visited {
	text-decoration: none;
	font-size: 13px;
	color: #8A8FFD;
}
.turnTable_cmd {
	width:40px;
}
.turnLink {
	font-size: 12px;
	text-align: center;
	border-collapse:collapse;
	width:100%;
	border: #AA9FFF;
	height: 24px;
}
.turnLink a:link {
	text-decoration:none;
	color: blue;
	font-size: 13px;
}
.turnLink a:active {
	text-decoration:blink
}
.turnLink a:hover {
	text-decoration:underline;
	color: #FE443F;
	font-weight: bold;
} 
.turnLink a:visited {
	text-decoration: none;
	font-size: 13px;
	color: #8A8FFD;
}
.turnLink_button {
	font-size: 12px;
	cursor: pointer;
	height: 20px;
	width: 20px;
}
.turnLink_text {
	height: 18px;
	width: 20px;
}