{% extends "base.html" %}
<head>
        <script language="JavaScript" src="/site_media/FusionCharts.js"></script>
</head>
{% block title %}
{{ name }}
<input name="Submit"	type="button" value=" 返 回 " onClick="history.back(1)">
{% endblock %}
{% block content %}
{% autoescape off %}
{% if object_list %}
<table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
        <td align="left"><div id="chartRate" align="left">chartRate</div></td>
        <td align="right"><div id="chartBW" align="right">chartBW</div></td>
        <script type="text/javascript">
        var myChart = new FusionCharts("/site_media/fushionCharts/FCF_Line.swf", "myChartId", "550", "450");
        var data = "<?xml version='1.0' encoding='UTF-8' ?><graph caption='{{ rateCaption }}' subcaption='{{ time }}' xAxisName='' decimalPrecision='2' yAxisMinValue='0' yAxisMaxValue='100' yAxisName='{{ rateYAxisName }}' baseFontSize='12' decimalPrecision='0' formatNumberScale='0' numberSuffix='%' showNames='1' rotateNames='1' showValues='0' showAlternateHGridColor='1' AlternateHGridColor='00A900' divLineColor='00A900' divLineAlpha='20' alternateHGridAlpha='5' >"
        {% for object in object_list %}
            {% if object.rate == 0 %}
                data = data + "<set name='{{ object.time }}' value='' hoverText='' />"
            {% else %}
                data = data + "<set name='{{ object.time }}' value='{{ object.rate }}' hoverText='{{ object.time }}' />"
            {% endif %}
        {% endfor %}

        data = data + "</graph>"
        myChart.setDataXML(data)
        myChart.render("chartRate");

        var myChartBW = new FusionCharts("/site_media/fushionCharts/FCF_Line.swf", "myChartId", "550", "450");
        var dataBW = "<?xml version='1.0' encoding='UTF-8' ?><graph caption='{{ bwCaption }}' subcaption='{{ time }}' xAxisName='' yAxisMinValue='0' yAxisName='{{ bwYAxisName }}' baseFontSize='12' decimalPrecision='0' formatNumberScale='0' numberSuffix='M' showNames='1' rotateNames='1' showValues='0' showAlternateHGridColor='1' AlternateHGridColor='00A900' divLineColor='00A900' divLineAlpha='20' alternateHGridAlpha='5'>"
        {% for object in object_list %}
            {% if object.rate == 0 %}
                dataBW = dataBW + "<set name='{{ object.time }}' value='' hoverText='' />"
            {% else %}
                dataBW = dataBW + "<set name='{{ object.time }}' value='{{ object.bw }}' hoverText='{{ object.time }}' />"
            {% endif %}
        {% endfor %}
        dataBW = dataBW + "</graph>"
        myChartBW.setDataXML(dataBW)
        myChartBW.render("chartBW");
    </script>
    </tr>
</table>
{% endif %}
{% endautoescape %}
{% endblock %}
