{% extends "base.html" %}
{% load utiltags %}
{% block title %}
机房带宽ISP周利用率
{% endblock %}
{% block content %}
{% autoescape off %}
<div id="columnwrap">
<div id="content-main" style="width:100%">
<form action="/net_bw/week_isp/2/" method="post">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
        <td>
            查询日期：<input name="time" type="text" value="" onFocus="calendar(EventUtil.getEvent().target)" size="12" maxlength="10" readonly="true" AUTOCOMPLETE="off" />&nbsp;<input type="submit" value=" 查 询 ">&nbsp;&nbsp;<a href='/net_bw/week_report/1/'>机房周利用率查看</a>
            &nbsp;&nbsp;<a href='/net_bw/week_area/1/'>区域周利用率查看</a>&nbsp;&nbsp;
			<a href='/net_bw/week_chart/0/{{ time }}/'>全网曲线图查看</a>
        </td>
    </tr>
</table>
</form>
<table width="100%" border="0" cellpadding="3" cellspacing="1" class="bwtable">
    <thead>
	<tr class="table_bord_ttl">
      <th align="center">序号</th>
      <th align="center">ISP编号</th>
      <th align="center">ISP名称</th>
      <th align="center">最大服务带宽(M)</th>
      <th align="center">付费带宽(M)</th>
      <th align="center">周峰值带宽(M)</th>
      <th align="center">周利用率</th>
      <th align="center">期间</th>
      <th align="center">曲线图查看</th>
	</tr>
	</thead>
{% if object_list %}
{% for object in object_list %}
    {% if forloop.counter0|divisibleby:2 %}
        <tr class="tr_class1" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% else %}
        <tr class="tr_class2" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% endif %}
 <td>{{ forloop.counter }}</td>
 <td>{{ object.isp_code }}</td>
 <td>{{ object.name }}</td>
 <td align="right">{{ object.sum_max|floatformat  }}</td>
 <td align="right">{{ object.sum_min|floatformat  }}</td>
 <td align="right">{{ object.sum_bw|floatformat  }}</td>
 <td align="right">{{ object.avg_rate|percent_decimal }}</td>
 <td align="center">{{ time|format_time }}</td>
 <td align="center"><a href='/net_bw/isp_week_chart/{{ object.isp_id }}/{{ time }}/'>曲线图查看</a></td>
</tr>
{% endfor %}
    <tr>
        <td colspan="3" align="center">全网</td>
        <td align="right">{{ sum_max_BW|floatformat  }}</td>
        <td align="right">{{ sum_min_BW|floatformat  }}</td>
        <td align="right">{{ sum_bw_value|floatformat  }}</td>
        <td align="right">{{ sum_rate|percent_decimal }}</td>
        <td align="center">{{ time|format_time }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="9" align="center">无数据</td>
    </tr>
{% endif %}
</table>
</div>
</div>
{% endautoescape %}
{% endblock %}
