{% extends "base.html" %}
{% load utiltags %}
{% block title %}
机房带宽管理
{% endblock %}
{% block content %}
{% autoescape off %}
<div id="columnwrap">
<div id="content-main" style="width:100%">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
        <td align="right"><a href='/net_bw/add/9/'>增加</a></td>
    </tr>
</table>
<form action="/net_bw/room_bw/2/" method="post">
 <table width="100%" border="0" cellpadding="3" cellspacing="1" class="bwtable">
    <thead>
	<tr class="table_bord_ttl">
      <th align="center">序号</th>
      <th align="center">机房编号</th>
      <th align="center">机房名称</th>
      <th align="center">总峰值带宽(M)</th>
      <th align="center">点播峰值带宽(M)</th>
      <th align="center">直播峰值带宽(M)</th>
      <th align="center">Web峰值带宽(M)</th>
      <th align="center">日期</th>
      <th align="center">操作</th>
	</tr>
	</thead>
    <tr>
      <td align="center"></td>
      <td align="left"><input name="room_code" type="text" size="10" value="{{ room_code }}"/></td>
      <td align="left"><input name="room_name" type="text" size="10" value="{{ room_name }}"/></td>
      <td align="right"><input name="total_bw" type="text" size="10" value="{{ total_bw }}"/></td>
      <td align="right"><input name="vod_bw" type="text" size="10" value="{{ vod_bw }}"/></td>
      <td align="right"><input name="live_bw" type="text" size="10" value="{{ live_bw }}"/></td>
      <td align="right"><input name="web_bw" type="text" size="10" value="{{ web_bw }}"/></td>
      <td align="center"><input name="time" type="text" size="10" value="{{ time }}"/></td>
      <td align="center"><input type="submit" value=" 查 询 "></td>
	</tr>
{% for bandwidth in results.object_list %}
    {% if forloop.counter0|divisibleby:2 %}
        <tr class="tr_class1" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% else %}
        <tr class="tr_class2" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% endif %}
 <td>{{ forloop.counter }}</td>
 <td>{{ bandwidth.room.room_code }}</td>
 <td>{{ bandwidth.room.room_cn_name }}</td>
 <td align="right">{{ bandwidth.bw_value|floatformat }}</td>
 <td align="right">{{ bandwidth.vod_bw_value|floatformat }}</td>
 <td align="right">{{ bandwidth.live_bw_value|floatformat }}</td>
 <td align="right">{{ bandwidth.web_bw_value|floatformat }}</td>
 <td align="center">{{ bandwidth.time }}</td>
 <td><a href='/net_bw/modify/{{ bandwidth.id }}/'>修改</a>|<a href='/net_bw/delete/{{ bandwidth.id }}/' onClick="return delconfirm();">删除</a></td>
</tr>
{% endfor %}
</table>
</form>
{% include "paginator.html" %}
</div>
</div>
{% endautoescape %}
{% endblock %}
