{% extends "base.html" %}
{% load utiltags %}
{% block title %}
机房带宽区域月利用率
{% endblock %}
{% block content %}
{% autoescape off %}
<div id="columnwrap">
<div id="content-main" style="width:100%">
<form action="/net_bw/month_area/2/" method="post">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
        <td>
            查询年月：<select name='time' id="query_type">
            {% for month in months %}
                {% if selectedMonth == month.month %}
                    <option value="{{ month.month }}" selected="selected">{{ month.month }}</option>
                {% else %}
                    <option value="{{ month.month }}">{{ month.month }}</option>
                {% endif %}
            {% endfor %}
            </select>&nbsp;<input type="submit" value=" 查 询 ">&nbsp;&nbsp;<a href='/net_bw/month_report/1/'>机房月利用率查看</a>
            &nbsp;&nbsp;<a href='/net_bw/month_isp/1/'>ISP月利用率查看</a>
        </td>
    </tr>
</table>
</form>
<table width="100%" border="0" cellpadding="3" cellspacing="1" class="bwtable">
    <thead>
	<tr class="table_bord_ttl">
      <th align="center">序号</th>
      <th align="center">名称</th>
      <th align="center">最大服务带宽(M)</th>
      <th align="center">付费带宽(M)</th>
      <th align="center">月峰值带宽(M)</th>
      <th align="center">月利用率</th>
      <th align="center">年月</th>
      <th align="center">曲线图查看</th>
	</tr>
	</thead>
{% if object_list %}
{% for object in object_list %}
    {% if forloop.counter0|divisibleby:2 %}
        <tr class="tr_class1" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% else %}
        <tr class="tr_class2" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% endif %}
 <td>{{ forloop.counter }}</td>
 <td>{{ object.region_cn_name }}|{{ object.isp_cn_name }}</td>
 <td align="right">{{ object.max_BW|floatformat  }}</td>
 <td align="right">{{ object.min_BW|floatformat  }}</td>
 <td align="right">{{ object.bw_value|floatformat  }}</td>
 <td align="right">{{ object.rate|percent_decimal }}</td>
 <td align="center">{{ time }}</td>
 <td align="center"><a href='/net_bw/area_month_chart/{{ object.isp_id }}/{{ object.region_id }}/{{ time }}/'>曲线图查看</a></td>
</tr>
{% endfor %}
    <tr>
        <td colspan="2" align="center">全网</td>
        <td align="right">{{ sum_max_BW|floatformat  }}</td>
        <td align="right">{{ sum_min_BW|floatformat  }}</td>
        <td align="right">{{ sum_bw_value|floatformat  }}</td>
        <td align="right">{{ sum_rate|percent_decimal }}</td>
        <td align="center">{{ time }}</td>
    </tr>
{% else %}
    <tr>
        <td colspan="8" align="center">无数据</td>
    </tr>
{% endif %}
</table>
</div>
</div>
{% endautoescape %}
{% endblock %}
