{% extends "base.html" %}
{% block title %}
机房带宽增加
{% endblock %}
{% block content %}
{% autoescape off %}
<html>
<HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<script type="text/javascript">
    function checkForm(){
        count = document.getElementById("count").value
        today = document.getElementById("today").value
        time = document.getElementById("time").value

        if(today < time){
            alert('日期不能超过' + today)
            return false
        }

        if (count > 1){
            for (i = 1; i < count + 1; i++){
                total_bw = document.getElementById("total_bw" + i).value
                vod_bw = document.getElementById("vod_bw" + i).value
                live_bw = document.getElementById("live_bw" + i).value
                web_bw = document.getElementById("web_bw" + i).value
                if(parseInt(total_bw) < 1){
                    alert('第' + i + '行总峰值带宽必须大于0!')
                    return false
                }
                if((parseInt(vod_bw) + parseInt(live_bw) + parseInt(web_bw)) > parseInt(total_bw)){
                    alert('第' + i + '行点播带宽,直播带宽与web带宽之和不能超过总峰值带宽!')
                    return false
                }
            }
        } else {
            total_bw = document.getElementById("total_bw1").value
            time = document.getElementById("time1").value
            vod_bw = document.getElementById("vod_bw1").value
            live_bw = document.getElementById("live_bw1").value
            web_bw = document.getElementById("web_bw1").value

            if(parseInt(total_bw) < 1){
                alert('总峰值带宽必须大于0!')
                return false
            }
            if((parseInt(vod_bw) + parseInt(live_bw) + parseInt(web_bw)) > parseInt(total_bw)){
                alert('点播带宽,直播带宽与web带宽之和不能超过总峰值带宽!')
                return false
            }
            if(today < time){
                alert('日期不能超过' + today)
                return false
            }
        }
        return true
    }
    
    function queryButton(){
        room_type = document.getElementById("room_type").value
        window.location.href="/net_bw/add/" + room_type + "/"
        return true;
    }
</script>
</HEAD>
<div id="columnwrap">
<div id="content-main" style="width:100%">
<form action="/net_bw/submit/1/" method="post" onsubmit="return checkForm()">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
        <td>
            {% if errors %}
                {% for error in errors %}
                    <font style="color:red">{{ error }}</font><br>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td align="left">机房类型
            <select name='room_type' id="room_type">
            <option value='9'>全部</option>
            {% for room_type in roomTypeLst %}
                {% if selectID == room_type.id %}
                    <option value="{{ room_type.id }}" selected="selected">{{ room_type.pay_cn_name }}</option>
                {% else %}
                    <option value="{{ room_type.id }}">{{ room_type.pay_cn_name }}</option>
                {% endif %}

            {% endfor %}
            </select>
            <input type="button" value=" 查 询 " onclick="return queryButton(this)">
            {% if object_list %}日期<input name="time" id="time" type="text" value="{{ today }}" onFocus="calendar(EventUtil.getEvent().target)" size="12" maxlength="10" readonly="true" AUTOCOMPLETE="off" />
        {% endif %}</td>
        <td align="right">{% if object_list %}<input type="submit" value=" 保 存 ">{% endif %}</td>
    </tr>
</table>
 <table width="100%" border="0" cellpadding="3" cellspacing="1" class="bwtable">
    <thead>
	<tr class="table_bord_ttl">
      <th align="center">序号</th>
      <th align="center">机房编号</th>
      <th align="center">机房名称</th>
      <th align="center">点播峰值带宽(M)</th>
      <th align="center">直播峰值带宽(M)</th>
      <th align="center">Web峰值带宽(M)</th>
      <th align="center">总峰值带宽(M)</th>
      <input name="today" id="today" type="hidden" value="{{ today }}" />
      <input name="count" id="count" type="hidden" value="{{ object_list|length }}" />
	</tr>
	</thead>
{% for room in object_list %}
    {% if forloop.counter0|divisibleby:2 %}
        <tr class="tr_class1" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)">
    {% else %}
        <tr class="tr_class2" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)">
    {% endif %}
 <td>{{ forloop.counter }}</td>
 <td>{{ room.room_code }}<input name="room_id" size="10" type="hidden" value="{{ room.id }}" /></td>
 <td>{{ room.room_cn_name }}</td>
 <td><input name="vod_bw" id="vod_bw{{ forloop.counter }}" size="10" type="text" value="{{ vod_bw }}" /></td>
 <td><input name="live_bw" id="live_bw{{ forloop.counter }}" size="10" type="text" value="{{ live_bw }}" /></td>
 <td><input name="web_bw" id="web_bw{{ forloop.counter }}" size="10" type="text" value="{{ web_bw }}" /></td>
 <td><input name="total_bw" id="total_bw{{ forloop.counter }}" size="10" type="text" value="{{ total_bw }}" /></td></tr>
{% endfor %}
</table>
 </form>
</div>
</div>
{% endautoescape %}
{% endblock %}