{% extends "base.html" %}
{% load utiltags %}
{% block title %}
机房带宽曲线
{% endblock %}
{% block content %}
{% autoescape off %}
<HEAD>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<script type="text/javascript">
    function checkForm(){
        beginTime = document.getElementById("beginTime").value
        endTime = document.getElementById("endTime").value

        if(beginTime == ''){
            alert('请输入开始日期!')
            return false
        }
        if(endTime == ''){
            alert('请输入结束日期!')
            return false
        }
        if(beginTime > endTime){
            alert('开始日期不能大于结束日期!')
            return false
        }
        return true
    }

    function queryButton(){
        query_type = document.getElementById("query_type").value
        window.location.href="/net_bw/bw_report/" + query_type + "/"
        return true;
    }
</script>
</HEAD>
<div id="columnwrap">
<div id="content-main" style="width:100%">
<form action="/net_bw/bw_report/2/" method="post" onsubmit="return checkForm()">
<table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
        <td>
            开始日期：<input id="beginTime" name="beginTime" type="text" value="{{ beginTime }}" onFocus="calendar(EventUtil.getEvent().target)" size="12" maxlength="10" readonly="true" AUTOCOMPLETE="off" />
            结束日期：<input id="endTime" name="endTime" type="text" value="{{ endTime }}" onFocus="calendar(EventUtil.getEvent().target)" size="12" maxlength="10" readonly="true" AUTOCOMPLETE="off" />&nbsp;<input type="submit" value=" 查 询 ">&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            查询类型：<select name='query_type' id="query_type">
            <option value='9'>全部</option>
            {% for query_type in typeLst %}
                {% if selectID == query_type.id %}
                    <option value="{{ query_type.id }}" selected="selected">{{ query_type.name }}</option>
                {% else %}
                    <option value="{{ query_type.id }}">{{ query_type.name }}</option>
                {% endif %}

            {% endfor %}
            </select>
            <input type="button" value=" 查 询 " onclick="return queryButton(this)">
        </td>
    </tr>
</table>
</form>
<table width="100%" border="0" cellpadding="3" cellspacing="1" class="bwtable">
    <thead>
	<tr class="table_bord_ttl">
      <th align="center">序号</th>
      <th align="center">机房编号</th>
      <th align="center">机房名称</th>
      <th align="center">机房类型</th>
      <th align="center">峰值带宽(M)</th>
      <th align="center">周期</th>
      <th align="center">曲线图查看</th>
	</tr>
	</thead>
{% if object_list %}
{% for object in object_list %}
    {% if forloop.counter0|divisibleby:2 %}
        <tr class="tr_class1" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% else %}
        <tr class="tr_class2" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% endif %}
 <td>{{ forloop.counter }}</td>
 <td>{{ object.code }}</td>
 <td>{{ object.name }}</td>
 <td>{{ object.pay_name }}</td>
 <td align="right">{{ object.valueBW|floatformat  }}</td>
 <td align="center">{{ time|format_time }}</td>
 <td align="center"><a href='/net_bw/bw_chart/{{ object.id }}/{{ time }}/'>曲线图查看</a></td>
</tr>
{% endfor %}
{% else %}
    <tr>
        <td colspan="7" align="center">无数据</td>
    </tr>
{% endif %}
</table>
</div>
</div>
{% endautoescape %}
{% endblock %}