{% block title %}
添加联系人
{% endblock %}
{% block content %}
{% autoescape off %}
<html>
<head>
    <title></title>
<link href="/site_media/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<form action="/net_bw/contactAdd/{{ rooma.id }}/" method="post" enctype="multipart/form-data">
     <fieldset>
        <legend><b>机房联系人信息</b></legend>
         <table width="100%" border="0" cellspacing="1" cellpadding="2">
         <tr>
               <td height="22" align="right"> 联系人姓名<font color="red">*</font>：</td>
         <td><input type='text' name='contact_name'></td>
             </tr>
        <tr>
               <td height="22" align="right"> 性别<font color="red">*</font>：</td>
         <td><select name='contact_sex'>
        <option value='MAN'>男</option>
        <option value='FEMALE'>女</option>
            </select></td>
            </tr>
         <tr>
            <td height="22" align="right"> 联系电话<font color="red">*</font>：</td>
         <td><input type='text' name='phone'></td>
             </tr>
         <tr>
           <td height="22" align="right">e-mail：</td>
         <td><input type='text' name='mail'></td>
         </tr>
               </table>
    </fieldset>
    <input id='save' type="submit"  value="保存" />
    <input name="Submit" type="button" value=" 取 消 " onClick="window.close()">

</form>
{% endautoescape %}
{% endblock %}
</body>
</html>