{% extends "base.html" %}
{% block title %}
机房带宽更改历史</a>
{% endblock %}
{% block content %}
{% autoescape off %}

<body>
<a  href="/net_bw/showRoom/">返回</a>
<div id="columnwrap">
<div id="content-main" style="width:100%">
 <table width="100%" border="0" cellpadding="3" cellspacing="1" class="bwtable">
    <thead>
	<tr>
      <th align="center">机房</th>
      <th align="center">带宽类型</th>
      <th align="center">原始值（M）</th>
      <th align="center">新值（M）</th>
      <th align="center">变更日期</th>
	</tr>
	</thead>
    <tbody>
{% for bw in bws %}
<tr>
 <td align="center">{{ bw.room }}</td>
 <td align="center">{{ bw.kind }}</td>
 <td align="center">{{ bw.old_value }}</td>
 <td align="center">{{ bw.new_value }}</td>
 <td align="center">{{ bw.time }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
{% endautoescape %}
{% endblock %}
</body>
