{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block content %}
{% autoescape off %}

<body>
    <a  href="/net_bw/ip_room/">返回</a>
<div id="columnwrap">
<div id="content-main" style="width:100%">
 <table width="100%" border="0" cellpadding="3" cellspacing="1" class="bwtable">
    <thead>
	<tr>
        <th align="center">序号</th>
      <th align="center">机房编号</th>
      <th align="center">ISP</th>
      <th align="center">中文名称</th>
        <th align="center">接入方式</th>
      <th align="center">内网IP</th>
      <th align="center">外网IP</th>
      <th align="center">互联IP</th>
      <th align="center">机房所在城市</th>
	</tr>
	</thead>

{% for room in rooms %}
{% if forloop.counter0|divisibleby:2 %}
        <tr class="tr_class1" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% else %}
        <tr class="tr_class2" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% endif %}
    <td align="center">{{ forloop.counter }}</td>
    <td align="center">{{ room.room_code }}</td>
    <td align="center">{{ room.room_isp }}</td>
    <td align="center">{{ room.room_cn_name }}</td>
    <td align="center">{{ room.style }}</td>
    <td align="center">{% for i in room.inner_IP.all %}{{ i.start }}-{{ i.end }}<br>{% endfor %}</td>
    <td align="center">{% for i in room.out_IP.all %}{{ i.start }}-{{ i.end }}<br>{% endfor %}</td>
    <td align="center">{% for i in room.internet_IP.all %}{{ i.start }}-{{ i.end }}<br>{% endfor %}</td>
    <td align="center">{{ room.room_city }}</td>
 {% endfor %}
</table>
</div>
</div>
{% endautoescape %}
{% endblock %}
</body>