{% extends "base.html" %}
{% block title %}
机房管理
{% endblock %}
{% block content %}
{% autoescape off %}

<body>
    <form  action='/net_bw/searchRoom/' method="post">
    <table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
        <td align="right"><a href="/net_bw/addRoom/">添加机房</a></td>
    </tr>
</table>

<div id="columnwrap">
<div id="content-main" style="width:100%">
 <table width="100%" border="0" cellpadding="3" cellspacing="1" class="bwtable">
    <thead>
	<tr>
        <th align="center">序号</th>
      <th align="center">机房编号</th>
      <th align="center">ISP</th>
      <th align="center">中文名称</th>
      <th align="center">机房详细地址</th>
      <th align="center">最大服务带宽(M)</th>
      <th align="center">最少付费带宽(M)</th>
      <th align="center">机房所在城市</th>
      <th align="center">机房付费类型</th>
      <th align="center">操作</th>
	</tr>
	</thead>
    <tbody>
    <tr>
    <td align="center"></td>
        <td align="center"><input type='text' name='r_code' size='10'></td>
        <td align="center"><select name='r_isp'>
        <option value=''>全部</option>
    {% for isp in isps %}
    <option value="{{ isp.id }}">{{ isp.isp_cn_name }}</option>
    {% endfor %}
        </select></td>
        <td align="center"><input type='text' name='r_cn_name'></td>
        <td align="center"><input type='text' name='r_address'></td>
        <td align="right"><input type='text' name='r_maxbw' size='10'></td>
        <td align="right"><input type='text' name='r_minbw' size='10'></td>
        <td align="center"><select name='r_city'>
        <option value="">全部</option>
    {% for c in citys %}
    <option value="{{c.id}}">{{c.city_cn_name}}</option>
    {%endfor%}
    </select></td>
        <td align="center"><select name='pay_type'>
        <option value="">全部</option>
    {% for pay in pays %}
    <option value="{{ pay.id }}">{{ pay.pay_cn_name }}</option>
    {% endfor %}
    </select></td>
        <td align="center"><input type="submit" value=" 查 询 "></td>
    </tr>
{% for room in results.object_list %}
    {% if forloop.counter0|divisibleby:2 %}
        <tr class="tr_class1" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% else %}
        <tr class="tr_class2" onMouseMove="cell_over(this);" onMouseOut="cell_out(this)" onClick="cell_click(this);">
    {% endif %}
    <td align="left">{{ forloop.counter }}</td>
 <td align="left">{{ room.room_code }}</td>
 <td align="center">{{ room.room_isp }}</td>
 <td align="center">{{ room.room_cn_name }}</td>
 <td align="center">{{ room.room_address }}</td>
 <td align="right">{{ room.max_BW|floatformat }}</td>
 <td align="right">{{ room.min_BW|floatformat }}</td>
 <td align="center">{{ room.room_city }}</td>
 <td align="center">{{ room.room_pay }}</td>
 <td align="center"><a href="/net_bw/manageRoom/{{ room.id }}" name='manage'>管理</a>|<a href="/net_bw/modifyRoom/{{ room.id }}" name='modify'>修改</a>|<a href='/net_bw/deleteRoom/{{ room.id }}' onClick="return delconfirm();">删除</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% include "paginator.html" %}
</div>
</div>
    </form>
{% endautoescape %}
{% endblock %}
</body>
